In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

## Data gathering and Cleaning

In [ ]:
df = pd.read_csv('movies_metadata.csv')

/tmp/ipython-input-2089594497.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('movies_metadata.csv')

In [ ]:
df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [ ]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [ ]:
# when you don't know about domain then use ai tools to find out which columns are useful for building the model

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [ ]:
df.shape

(45466, 24)

In [ ]:
df.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [ ]:
df.duplicated().sum()

np.int64(13)

In [ ]:
df = df.drop_duplicates().reset_index(drop = True)

In [ ]:
df.duplicated().sum()

np.int64(0)

In [ ]:
df = df[['title','tagline','genres','overview','vote_average','popularity']]

In [ ]:
df

,title,tagline,genres,overview,vote_average,popularity
0,Toy Story,NaN,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","Led by Woody, Andy's toys live happily in his ...",7.7,21.946943
1,Jumanji,Roll the dice and unleash the excitement!,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",When siblings Judy and Peter discover an encha...,6.9,17.015539
2,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",A family wedding reignites the ancient feud be...,6.5,11.7129
3,Waiting to Exhale,Friends are the people who let you be yourself...,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","Cheated on, mistreated and stepped on, the wom...",6.1,3.859495
4,Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,"[{'id': 35, 'name': 'Comedy'}]",Just when George Banks has recovered from his ...,5.7,8.387519
...,...,...,...,...,...,...
45461,Subdue,Rising and falling between a man and woman,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",Rising and falling between a man and woman.,4.0,0.072051
45462,Century of Birthing,NaN,"[{'id': 18, 'name': 'Drama'}]",An artist struggles to finish his work while a...,9.0,0.178241
45463,Betrayal,A deadly game of wits.,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...","When one of her hits goes wrong, a professiona...",3.8,0.903007
45464,Satan Triumphant,NaN,[],"In a small town live two brothers, one a minis...",0.0,0.003503
45465,Queerama,NaN,[],50 years after decriminalisation of homosexual...,0.0,0.163015

In [ ]:
df.isnull().sum()

title               6
tagline         25045
genres              0
overview          954
vote_average        6
popularity          5
dtype: int64

In [ ]:
df = df.dropna(subset = ['title'])

In [ ]:
df['overview'] = df['overview'].fillna('')

In [ ]:
df.iloc[0]['genres']

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [ ]:
import ast

In [ ]:
df['genres'] = df['genres'].apply(lambda x : " ".join( [i['name'] for i in ast.literal_eval(x) ]))

In [ ]:
df['tagline'] = df['tagline'].fillna('')

In [ ]:
df.head()

,title,tagline,genres,overview,vote_average,popularity
0,Toy Story,,Animation Comedy Family,"Led by Woody, Andy's toys live happily in his ...",7.7,21.946943
1,Jumanji,Roll the dice and unleash the excitement!,Adventure Fantasy Family,When siblings Judy and Peter discover an encha...,6.9,17.015539
2,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,Romance Comedy,A family wedding reignites the ancient feud be...,6.5,11.7129
3,Waiting to Exhale,Friends are the people who let you be yourself...,Comedy Drama Romance,"Cheated on, mistreated and stepped on, the wom...",6.1,3.859495
4,Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,Comedy,Just when George Banks has recovered from his ...,5.7,8.387519

## AST

In [ ]:
# how ast works

In [ ]:
import ast

In [ ]:
code = """
import math

def square(n):
    return n * n

def check_number(n):
    if n > 0:
        print("Positive")
    else:
        print("Negative")

for i in range(3):
    check_number(i)
"""

In [ ]:
tree = ast.parse(code)

In [ ]:
print("----- AST Structure -----")
print(ast.dump(tree, indent=4))

----- AST Structure -----
Module(
    body=[
        Import(
            names=[
                alias(name='math')]),
        FunctionDef(
            name='square',
            args=arguments(
                posonlyargs=[],
                args=[
                    arg(arg='n')],
                kwonlyargs=[],
                kw_defaults=[],
                defaults=[]),
            body=[
                Return(
                    value=BinOp(
                        left=Name(id='n', ctx=Load()),
                        op=Mult(),
                        right=Name(id='n', ctx=Load())))],
            decorator_list=[],
            type_params=[]),
        FunctionDef(
            name='check_number',
            args=arguments(
                posonlyargs=[],
                args=[
                    arg(arg='n')],
                kwonlyargs=[],
                kw_defaults=[],
                defaults=[]),
            body=[
                If(
                    test=Compare(
                        left=Name(id='n', ctx=Load()),
                        ops=[
                            Gt()],
                        comparators=[
                            Constant(value=0)]),
                    body=[
                        Expr(
                            value=Call(
                                func=Name(id='print', ctx=Load()),
                                args=[
                                    Constant(value='Positive')],
                                keywords=[]))],
                    orelse=[
                        Expr(
                            value=Call(
                                func=Name(id='print', ctx=Load()),
                                args=[
                                    Constant(value='Negative')],
                                keywords=[]))])],
            decorator_list=[],
            type_params=[]),
        For(
            target=Name(id='i', ctx=Store()),
            iter=Call(
                func=Name(id='range', ctx=Load()),
                args=[
                    Constant(value=3)],
                keywords=[]),
            body=[
                Expr(
                    value=Call(
                        func=Name(id='check_number', ctx=Load()),
                        args=[
                            Name(id='i', ctx=Load())],
                        keywords=[]))],
            orelse=[])],
    type_ignores=[])

In [ ]:
print("\n----- Using ast.walk() -----")
for node in ast.walk(tree):
    if isinstance(node, ast.FunctionDef):
        print("Function found:", node.name)
    elif isinstance(node, ast.If):
        print("If statement found")
    elif isinstance(node, ast.For):
        print("For loop found")
    elif isinstance(node, ast.Call):
        print("Function call found")
    elif isinstance(node, ast.Assign):
        print("Assignment found")

----- Using ast.walk() -----
Function found: square
Function found: check_number
For loop found
If statement found
Function call found
Function call found
Function call found
Function call found

In [ ]:
print("\n----- Using NodeVisitor -----")

class MyVisitor(ast.NodeVisitor):
    def visit_FunctionDef(self, node):
        print("Visited function:", node.name)
        self.generic_visit(node)  # visit children
    def visit_If(self, node):
        print("Visited an if statement")
        self.generic_visit(node)
    def visit_For(self, node):
        print("Visited a for loop")
        self.generic_visit(node)

visitor = MyVisitor()
visitor.visit(tree)

----- Using NodeVisitor -----
Visited function: square
Visited function: check_number
Visited an if statement
Visited a for loop

In [ ]:
print("\n----- Using NodeTransformer -----")

class MyTransformer(ast.NodeTransformer):
    def visit_FunctionDef(self, node):
        node.name = node.name + "_new"
        return self.generic_visit(node)

transformer = MyTransformer()
new_tree = transformer.visit(tree)

# Dump new tree to see changes
print(ast.dump(new_tree, indent=4))

----- Using NodeTransformer -----
Module(
    body=[
        Import(
            names=[
                alias(name='math')]),
        FunctionDef(
            name='square_new',
            args=arguments(
                posonlyargs=[],
                args=[
                    arg(arg='n')],
                kwonlyargs=[],
                kw_defaults=[],
                defaults=[]),
            body=[
                Return(
                    value=BinOp(
                        left=Name(id='n', ctx=Load()),
                        op=Mult(),
                        right=Name(id='n', ctx=Load())))],
            decorator_list=[],
            type_params=[]),
        FunctionDef(
            name='check_number_new',
            args=arguments(
                posonlyargs=[],
                args=[
                    arg(arg='n')],
                kwonlyargs=[],
                kw_defaults=[],
                defaults=[]),
            body=[
                If(
                    test=Compare(
                        left=Name(id='n', ctx=Load()),
                        ops=[
                            Gt()],
                        comparators=[
                            Constant(value=0)]),
                    body=[
                        Expr(
                            value=Call(
                                func=Name(id='print', ctx=Load()),
                                args=[
                                    Constant(value='Positive')],
                                keywords=[]))],
                    orelse=[
                        Expr(
                            value=Call(
                                func=Name(id='print', ctx=Load()),
                                args=[
                                    Constant(value='Negative')],
                                keywords=[]))])],
            decorator_list=[],
            type_params=[]),
        For(
            target=Name(id='i', ctx=Store()),
            iter=Call(
                func=Name(id='range', ctx=Load()),
                args=[
                    Constant(value=3)],
                keywords=[]),
            body=[
                Expr(
                    value=Call(
                        func=Name(id='check_number', ctx=Load()),
                        args=[
                            Name(id='i', ctx=Load())],
                        keywords=[]))],
            orelse=[])],
    type_ignores=[])

## Back to code

In [ ]:
df.isnull().sum()

title           0
tagline         0
genres          0
overview        0
vote_average    0
popularity      0
dtype: int64

In [ ]:
df['tags'] = df['overview'] + " " + df['tagline'] + " " + df['genres']

In [ ]:
df.head()

,title,tagline,genres,overview,vote_average,popularity,tags
0,Toy Story,,Animation Comedy Family,"Led by Woody, Andy's toys live happily in his ...",7.7,21.946943,"Led by Woody, Andy's toys live happily in his ..."
1,Jumanji,Roll the dice and unleash the excitement!,Adventure Fantasy Family,When siblings Judy and Peter discover an encha...,6.9,17.015539,When siblings Judy and Peter discover an encha...
2,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,Romance Comedy,A family wedding reignites the ancient feud be...,6.5,11.7129,A family wedding reignites the ancient feud be...
3,Waiting to Exhale,Friends are the people who let you be yourself...,Comedy Drama Romance,"Cheated on, mistreated and stepped on, the wom...",6.1,3.859495,"Cheated on, mistreated and stepped on, the wom..."
4,Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,Comedy,Just when George Banks has recovered from his ...,5.7,8.387519,Just when George Banks has recovered from his ...

## Text preprocessing

In [ ]:
df['tags'][1]

"When siblings Judy and Peter discover an enchanted board game that opens the door to a magical world, they unwittingly invite Alan -- an adult who's been trapped inside the game for 26 years -- into their living room. Alan's only hope for freedom is to finish the game, which proves risky as all three find themselves running from giant rhinoceroses, evil monkeys and other terrifying creatures. Roll the dice and unleash the excitement! Adventure Fantasy Family"

In [ ]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import re

In [ ]:
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...

True

In [ ]:
stop_words = set(stopwords.words('english'))
lemmitizer = WordNetLemmatizer()

In [ ]:
def preprocess_text(text):

  #lowercasing
  text = text.lower()

  #removing punctuatuions
  text = re.sub(r'[^\w\s]', '', text)
  words = text.split()

  # stop word removal
  words = [word for word in words if word not in stop_words]

  #lemmitize
  words = [lemmitizer.lemmatize(word) for word in words]

  return " ".join(words)

In [ ]:
df['tags'] = df['tags'].apply(preprocess_text)

In [ ]:
df['tags'][1]

'sibling judy peter discover enchanted board game open door magical world unwittingly invite alan adult who trapped inside game 26 year living room alans hope freedom finish game prof risky three find running giant rhinoceros evil monkey terrifying creature roll dice unleash excitement adventure fantasy family'

In [ ]:
# woking of list comprehension

In [ ]:
text = df['tags'][1]

In [ ]:
words = text.split()

In [ ]:
words = [word for word in words if word not in stop_words]

In [ ]:
new = []

In [ ]:
for word in words:
  if word not in stop_words:
    new.append(word)

In [ ]:
new

['When',
 'siblings',
 'Judy',
 'Peter',
 'discover',
 'enchanted',
 'board',
 'game',
 'opens',
 'door',
 'magical',
 'world,',
 'unwittingly',
 'invite',
 'Alan',
 '--',
 'adult',
 "who's",
 'trapped',
 'inside',
 'game',
 '26',
 'years',
 '--',
 'living',
 'room.',
 "Alan's",
 'hope',
 'freedom',
 'finish',
 'game,',
 'proves',
 'risky',
 'three',
 'find',
 'running',
 'giant',
 'rhinoceroses,',
 'evil',
 'monkeys',
 'terrifying',
 'creatures.',
 'Roll',
 'dice',
 'unleash',
 'excitement!',
 'Adventure',
 'Fantasy',
 'Family']

In [ ]:
words

['When',
 'siblings',
 'Judy',
 'Peter',
 'discover',
 'enchanted',
 'board',
 'game',
 'opens',
 'door',
 'magical',
 'world,',
 'unwittingly',
 'invite',
 'Alan',
 '--',
 'adult',
 "who's",
 'trapped',
 'inside',
 'game',
 '26',
 'years',
 '--',
 'living',
 'room.',
 "Alan's",
 'hope',
 'freedom',
 'finish',
 'game,',
 'proves',
 'risky',
 'three',
 'find',
 'running',
 'giant',
 'rhinoceroses,',
 'evil',
 'monkeys',
 'terrifying',
 'creatures.',
 'Roll',
 'dice',
 'unleash',
 'excitement!',
 'Adventure',
 'Fantasy',
 'Family']

## Text Vectorization

In [ ]:
df = df.reset_index(drop= True)

In [ ]:
indices = pd.Series(df.index , index = df['title'])

In [ ]:
indices

title
Toy Story                          0
Jumanji                            1
Grumpier Old Men                   2
Waiting to Exhale                  3
Father of the Bride Part II        4
                               ...
Subdue                         45442
Century of Birthing            45443
Betrayal                       45444
Satan Triumphant               45445
Queerama                       45446
Length: 45447, dtype: int64

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
tfidf = TfidfVectorizer( max_features=50000 , ngram_range=(1,2),stop_words='english')

In [ ]:
tfidf_matrix = tfidf.fit_transform(df['tags'])

In [ ]:
tfidf_matrix

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 1552860 stored elements and shape (45447, 50000)>

## cosine similarity and Model Building

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
def recommend(title , n = 10):

  if title not in indices:
    return "Movie not Found"

  idx = indices[title]

  sim_score = cosine_similarity(tfidf_matrix[idx] , tfidf_matrix).flatten()
  similar_idx = sim_score.argsort()[::-1][1:n+1]

  return df['title'].iloc[similar_idx]

In [ ]:
recommend('Toy Story')

2996                Toy Story 2
15344               Toy Story 3
24512                 Small Fry
17184                 Group Sex
28972           Superstar Goofy
6434     What's Up, Tiger Lily?
11396    For Your Consideration
1071      Rebel Without a Cause
1931                  Condorman
485                      Malice
Name: title, dtype: object

## Exporting Files

In [ ]:
import pickle
pickle.dump(tfidf_matrix , open('tfidf_matrix.pkl','wb'))
pickle.dump(indices , open('indices.pkl','wb'))
pickle.dump(tfidf , open('tfidf.pkl','wb'))
pickle.dump(df , open('df.pkl','wb'))